{% extends 'base.html' %}

{% block content %}

    <h1 class="mt-5">My Contacts</h1>

    <table class="table">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Telephone</th>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a href="#"> John</a>
            </td>
            <td>Fitzgerald Kennedy</td>
            <td>1 202 456-2121</td>
            <td>Former President of the United States</td>
        </tr>
        <tr>
            <td>
                <a href="#"> Barack</a>
            </td>
            <td>Hussein Obama II</td>
            <td> 1 202 456-2121</td>
            <td>Former President of the United States</td>
        </tr>
        <tr>
            <td>
                <a href="#"> Getúlio</a>
            </td>
            <td>Dornelles Vargas</td>
            <td>55 61 3411-1221</td>
            <td>Former President of Brazil</td>
        </tr>
        </tbody>
    </table>
{% endblock %}