{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contacts Book</title>

    {% include 'partial/_head.html' %}

</head>

<body>

<!-- Navigation -->
{% include 'partial/_navigation.html' %}

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">

            {% block content %}

            {% endblock %}
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>